# **Pandas Lecture Scrapnote Part 2: Multilevel Indexing**

___

## ***Multilevel Index in Indexing Hierarchy***

In [10]:
import numpy as np
import pandas as pd

In [11]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]

In [12]:
hier_index = list(zip(outside,inside))

In [13]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [14]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [17]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [18]:
df

             A         B
G1 1  1.525342  0.685559
   2 -0.853093  0.861354
   3 -1.465839  0.338351
G2 1 -1.232333 -0.997151
   2  1.491868  1.879138
   3 -3.032865 -1.896452

### Grab a desired data information using loc()

In [21]:
df.loc['G1'].loc[1]

A    1.525342
B    0.685559
Name: 1, dtype: float64

#### Naming the unnamed column

In [22]:
df.index.names

FrozenList([None, None])

In [25]:
df.index.names = ['Groups','Num']

In [26]:
df

                   A         B
Groups Num
G1     1    1.525342  0.685559
       2   -0.853093  0.861354
       3   -1.465839  0.338351
G2     1   -1.232333 -0.997151
       2    1.491868  1.879138
       3   -3.032865 -1.896452

### Grab Information from Multilevel Index Dataframe

In [31]:
df.loc['G2'].loc[2]['B']

1.8791375680105342

#### *The breakdown of the above code:*

In [32]:
df.loc['G1']

            A         B
Num
1    1.525342  0.685559
2   -0.853093  0.861354
3   -1.465839  0.338351

In [33]:
df.loc['G1'].loc[2]

A   -0.853093
B    0.861354
Name: 2, dtype: float64

In [34]:
df.loc['G1'].loc[2]['A']

-0.8530928412870399

### Alternative option to grab information: xs() function
What's so nice about xs() funcition? <br>
It has a "unique" ability to skip or go inside on multilevel index

In [36]:
df.xs('G1')

            A         B
Num
1    1.525342  0.685559
2   -0.853093  0.861354
3   -1.465839  0.338351

### Grab the desired multiple information particular on multilevel index

For example, we want to grab all the information of **index 1** ("Num" column series) from all groups

In [38]:
df.xs(1,level='Num') # a = desired index, level = name of column group

               A         B
Groups
G1      1.525342  0.685559
G2     -1.232333 -0.997151

***Finished!***